.rounded-12 {
  border-radius: 25px;
  padding: 1%;
	margin: 10px;
}

.main {
  display: flex;
  width: 100%;
  margin-top: 3%;
}
.grid {
  display: flex;
  justify-content: center;
  width: 50%;
}
.list {
  display: flex;
  justify-content: center;
  width: 50%;
}
.data {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 4%;
	
}

.cryptoImage{
	width: 50px;
	height: 50px;
	padding-left: 18px ;
	padding-top: 18px;
	
}
.image{
	width: 100%;
	height: 25%;
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1%;
}

.coinName{
	margin-top: 15px;
}
.card-text{
	font-size: 15px;
}

.percentBorder{
	border:2px solid yellow;
	width: 150px;
	height: 40px;
justify-content: center;
	border-radius: 20px;
	color: yellow;
	padding: 10px;
	display: flex;
	
}
.additionalDetails{
margin-top: 30px;
}

.coinPrice{
	color: yellow;
}

.coinBox{
	border: 2px solid black;
	border-radius: 20px;
	padding: 20px;
	background-color: #121212;
	display: flex;
	flex-direction: column;
	color: white;
	margin: 20px;
	width: 18rem;
	
	
} 
.list-view .coinBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.list-view .coinBox .image {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}
